%header<>
  .logo>
    = link_to root_path do
      %h1 Microdata tools
      
  %nav
    %ul
      = menu_tag menu_link("Analyzation", root_path)
      = menu_tag menu_link("Microdata to RSS", rss_path)
      = #menu_tag menu_link("Articles", articles_path)
      = menu_tag menu_link("External resources", external_resources_path)
      = menu_tag menu_link("Blog", posts_path)