%section.window.external_resources
  
  %h1 List of articles, tools and vocabulary lists.
  
  %h2 Articles
  
  %ul
    %li= link_to "Getting started with schema.org", "http://schema.org/docs/gs.html"
    %li= link_to "Why (And How) You Should Use HTML5 Microdata", "http://www.vanseodesign.com/web-design/html5-microdata/"
    %li= link_to "How To Set Up Google Authorship Markup With rel=author, Real Simple Way", "http://www.iblogzone.com/2011/08/how-to-google-authorship-markup-rel-author.html"
    %li= link_to "Why (And How) You Should Use HTML5 Microdata", "http://www.vanseodesign.com/web-design/html5-microdata/"
    %li= link_to "Sites Using Microdata", "http://github.com/LawrenceWoodman/mida/wiki/Sites-Using-Microdata"
  
  %h2 Specifications
  
  %ul
    %li= link_to "W3C - HTML Microdata", "http://www.w3.org/TR/microdata/"
    %li= link_to "Microdata at wikipedia", "http://en.wikipedia.org/wiki/Microdata_(HTML5)"
    %li= link_to "Microdata — HTML Standard", "http://www.whatwg.org/specs/web-apps/current-work/multipage/microdata.html"
  
  %h2 Online tools
  
  %ul
    %li= link_to "Google's Rich Snippets Testing Tool", "http://www.google.com/webmasters/tools/richsnippets"
    %li= link_to "Microdata Generator Using Schema.org Vocabulary", "http://www.microdatagenerator.com/"
  
  %h2 Offline tools
  
  %ul
    %li
      A Microdata parser/extractor library for Ruby (CLI, rubygem)
      = link_to "Source", "http://github.com/LawrenceWoodman/mida"
      = link_to "Website", "http://lawrencewoodman.github.com/mida/"
  
  %h2 Vocabulary lists
  
  %ul
    %li= link_to "Schema.org", "http://schema.org/"
    %li= link_to "data-vocabulary.org", "http://www.data-vocabulary.org/"