%section.window.index_page
  %section.about_project
    %p
      %b Microdata
      &mdash; is a part of HTML5 standard, designed to nest semantic structures in web page content.
      Search engines, web crawlers, and browsers already implemented it.
    %p.goal
      This tool allow you to inspect and debug microdata html-layout.

  = render "welcome/form"

  %section.info
    %aside>
      %span.recent &bull;
      %h3 Last requests

      %ul
        - for parsing in @last_requests
          %li
            = link_to parsing.url, parsing.url, :target => "_blank"
            %span<
              (
              %a{:href => get_items_path(:url => parsing.url)}<>= %{#{parsing.items_count} #{parsing.items_count > 1 ? "items" : "item"}}
              )

    %aside>
      %span.knowlage &bull;
      %h3 Articles

      %ul
        - for post in Post.latest
          %li
            = link_to post.title, post
            (#{time_tag(post.published_at)})