- @page_title = "Microdata HTML5 parser"
- @description = "Microdata tools - tool for inspection and debugging microdata html-layout, rss generator from blog html-layout with microdata, list of useful articles, collection of projects already uses microdata layout."

%section.window.index_page
  %section.about_project
    %p
      %b Microdata
      &mdash; is a part of HTML5 standard, designed to nest semantic structures in web page content.
      Search engines, web crawlers, and browsers already implemented it.
    %p.goal
      This tool helps to inspect and debug microdata html-layout.

  = render "welcome/form"

  %section.info
    %aside>
      %span.recent &bull;
      %h3 Last requests

      %ul
        - for parsing in @last_requests
          %li
            = link_to parsing.url, parsing.url, :target => "_blank", :rel => "nofollow"
            %span<
              (
              %a{:href => get_items_path(:url => parsing.url), :rel => "nofollow"}<>
                = %{#{parsing.items_count} #{parsing.items_count > 1 ? "items" : "item"}}
              )

    %aside>
      %span.knowlage &bull;
      %h3 Articles

      %ul
        - for post in Post.latest
          %li
            = link_to post.title, post
            (#{time_tag(post.published_at)})