%section.window.index_page
  = render "welcome/form"
  
  %section.info
    %aside>
      %span.recent &bull;
      %h3 Last requests
      
      %ul
        - for parsing in @last_requests
          %li
            = link_to parsing.url, parsing.url, :target => "_blank"
            %span= %{(#{parsing.items_count} #{parsing.items_count > 1 ? "items" : "item"})}
            
    %aside>
      %span.knowlage &bull;
      %h3 Articles
      
      %ul
        %li= link_to "Real usage of microdata", "#"
        %li= link_to "Developer tools", "#"
        %li= link_to "Projects using microdata layout", "#"
          