- @body_itemtype = Mida(:WebPage)
- @page_title = "Examples: #{@example.title}"

%section.window.example
  .breadcrumbs[:breadcrumb]
    = link_to "Examples", examples_path
    = "=>"
    
  %h1[:name]= @example.title
  
  %h3 Item types:
  
  %ul
    - for type in @example.itemtypes
      %li
        %span= type
  
  .description= raw @example.description
  
  - for code in @example.source_codes
    = render "examples/code", code: Rails.root.join(code), example: @example
  
  - if @example.pages.present?
    %section.web_examples
      %h3 Examples in a web
      %ul
        - for page in @example.pages
          %li= link_to page, page, rel: "nofollow", target: "_blank"
  
  %footer
    Created at
    = time_tag @example.created_at, format: :date
    
  = raw disqus_thread show_powered_by: false, developer: Rails.env.development?, account: 'microdatatools'