!!! 5
%html
  %head
    %title= page_title("Microdata online viewer")
    = stylesheet_link_tag 'layouts/application'
    
    /[if IE]
      = stylesheet_link_tag "ie"
      = javascript_include_tag 'html5'
      
    = jsus_include "SemanticDatas:*", :development => 'include', :production => 'require'
  %body
    #container
      = render 'shared/header'
      = yield
      = render 'shared/footer'