!!! 5
%html
  %head
    %title= page_title("Microdata tools")
    = stylesheet_link_tag 'layouts/application'
    
    /[if IE]
      = stylesheet_link_tag "ie"
      = javascript_include_tag 'html5'
      
    = jsus_include "SemanticDatas:*", :development => 'include', :production => 'compressed'
    
    = rss_link :href => rss_self_url
    
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10595782-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    
    #container
      = render 'shared/header'
      = yield
      = render 'shared/footer'